@charset "UTF-8";

$in : 1200px;

$bla000 : #000;
$bla0c0 : #0C0C0C;
$bla111: #111111;
$bla777 : #777777;
$whiFff : #ffffff;

$fontFirst : 'GmarketSans';
$fontSecond : 'NexonLv1Gothic';

$mainBg : #F6F8FD;
$mainPadding: 120px;
$mainTitSiz : 50px;
$mainTitLin : 100%;
$mainTitColor: $bla000;
$mainTitSubSiz : 22px;
$mainTitSubLin : 150%;
$mainTitSubColor: $bla777;