@charset "UTF-8";

@import "variable";
@import "fonts";

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 280px;
    height: 100%;
    background-color: $bgColItem;
}

.gnb {
    position: relative;
    width: 100%;

    &__item {
        display: block;
        padding: 4px 0;
        font-weight: 400;
        font-size: $txtSizeLv3;
        color: $fontColSec;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__link {
        display: block;
    }
}
