@charset "UTF-8";

@import "variable";
@import "fonts";

//:lang(ko) {
//    font-family: 'IBM Plex Sans KR', 'Montserrat', system-ui, -apple-system, 'Malgun Gothic', sans-serif;
//    word-break: keep-all;
//}
//
//:lang(en) {
//    font-family: 'Montserrat', system-ui, -apple-system, 'Malgun Gothic', sans-serif;
//}
body {
    max-width: 100%;
    width: 100%;
    font-family: $fontKo, $fontEn, system-ui, -apple-system, "Malgun Gothic", sans-serif;
    word-break: keep-all;
    overflow-x: hidden;
}

html,
body,
blockquote,
hr,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
table,
th,
td,
figure,
form,
fieldset,
legend,
label,
input,
select,
textarea,
button,
ul,
ol,
li,
dl,
dt,
dd,
p,
pre {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

//img {
//    max-width: 100%;
//}
ol,
ul {
    list-style: none;
}

table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    cursor: pointer;
}

button,
input,
table,
textarea {
    font-family: inherit;
    border: 0;
}

fieldset,
iframe {
    border: 0;
}

address,
em {
    font-style: normal;
}
