.mainBanner {
  padding: 120px 0;
  background: url(https://source.unsplash.com/random) no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}
.mainBanner .tit {
  margin-bottom: 40px;
  font-size: 50px;
  line-height: 100%;
  color: #000;
}
.mainBanner .txt {
  margin-bottom: 69px;
  font-size: 22px;
  line-height: 150%;
  color: #777777;
}
.mainBanner .view {
  display: inline-block;
  padding: 15px 78px;
  font-size: 18px;
  line-height: 1em;
  color: #ffffff;
  background: #FF3344;
}