.mainBanner {
  padding: 120px 0;
  background: url(../img/mainBanner__img01.jpg) no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}
.mainBanner .tit {
  margin-bottom: 40px;
  font-size: 50px;
  line-height: 100%;
  color: #ffffff;
}
.mainBanner .txt {
  margin-bottom: 69px;
  font-size: 22px;
  line-height: 150%;
  color: #ffffff;
}
.mainBanner .view {
  display: inline-block;
  padding: 15px 78px;
  font-size: 18px;
  line-height: 1em;
  color: #ffffff;
  background: #ff3344;
}