/* footer */
.footer {
  padding: 120px 0;
  font-family: "NexonLv1Gothic";
}
.footer .in {
  position: relative;
  padding-left: 412px;
  box-sizing: border-box;
}
.footer__info {
  position: absolute;
  left: 0;
}
.footer__logo {
  margin-bottom: 17px;
  font-size: 18px;
  font-weight: 300;
  color: #000;
}
.footer__address {
  margin-bottom: 21px;
  font-size: 14px;
  line-height: 1.5em;
  color: #000;
  opacity: 0.5;
}
.footer__address .item {
  display: block;
}
.footer__sns {
  font-size: 0px;
}
.footer__sns .item {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  width: 45px;
  height: 45px;
  background: #f5f5f5;
  border-radius: 50%;
  text-indent: -999999px;
}
.footer__sitemap {
  min-height: 170px;
  font-size: 0px;
}
.footer__sitemap > ul > li {
  display: inline-block;
  vertical-align: top;
  margin-right: 86px;
}
.footer__sitemap > ul > li:last-child {
  margin-right: 0px;
}
.footer__sitemap > ul > li a {
  font-size: 18px;
  line-height: 21px;
  color: #000;
}
.footer__sitemap > ul > li > ul > li {
  margin-top: 10px;
}
.footer__sitemap > ul > li > ul > li a {
  font-size: 14px;
  line-height: 16px;
  color: #000;
  opacity: 0.5;
}
.footer__copy {
  position: relative;
  display: block;
  margin-top: 50px;
  padding-top: 33px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  opacity: 0.5;
}
.footer__copy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -600px;
  width: 1200px;
  height: 1px;
  background: #000;
  opacity: 0.5;
}