/* main visual */
.visual__header {
  position: absolute;
  z-index: 9;
}
.visual__tit {
  margin: 90px 0 23px 0;
  font-size: 110px;
  color: #ffffff;
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5);
}
.visual__txt {
  font-size: 24px;
  line-height: 1.5em;
  color: #ffffff;
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5);
}
.visual__view {
  margin-top: 29px;
  display: inline-block;
  font-size: 18px;
  line-height: 1em;
  color: #ffffff;
  background: #4857ec;
}
.visual__view a {
  display: block;
  padding: 15px 67px;
}
.visual__slide {
  text-align: center;
  font-size: 0px;
}
.visual .swiper-slide {
  text-align: center;
}
.visual .swiper-slide img {
  height: auto;
}