@charset "UTF-8";

@import "variables.scss";


.mainBlog{
    padding: $mainPadding 0;
    background: $mainBg;

    &__list{
        margin: -25px -5px;
        font-size: 0px;

        & .item{
            display: inline-block;
            vertical-align: top;
            margin: 25px 5px;
            width: 275px;
        }

        & .thumb{
            display: block;
            margin-bottom: 19px;
            height: 203px;
            overflow: hidden;
            transition: 0.3s;

            & img{
                width:100%;
                height: auto;
            }
        }

        & .tit{
            position: relative;
            display: block;
            margin-bottom: 12px;
            font-size: 28px;
            line-height: 1em;
            color:$bla000;

            &::after{
                content:'';
                position: absolute;
                top: 0;
                right: 0;
                width: 25px;
                height: 25px;
                background: #F9C94E url(../img/ico__more.svg) no-repeat 50% 50%;
                border-radius: 5px;
            }
        }

        & .txt{
            display: -webkit-box;
            font-size: 18px;
            line-height: 140%;
            color:$bla000;
            opacity: 0.5;
            word-break: normal;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }
    }
}