@charset "UTF-8";

@import "variables.scss";

/* main visual */
.visual{

    &__header{
        position:absolute;
    }

    &__tit{
        margin: 90px 0 23px 0;
        font-size: 110px;
        color: $bla000;
    }

    &__txt{
        font-size: 24px;
        line-height: 1.5em;
        color: $bla0c0;
    }

    &__view{
        margin-top: 29px;
        display: inline-block;
        font-size: 18px;
        line-height: 1em;
        color: $whiFff;
        background:#4857EC;

        & a{
            display: block;
            padding: 15px 67px;
        }
    }

    &__slide {
        text-align: center;
        font-size: 0px;
    }
}