//fonts
@import "./assets/scss/fonts.scss";

//resets
@import "./assets/scss/resets.scss";

//common
@import "./assets/scss/common.scss";

//header
@import "./assets/scss/header.scss";

//footer
@import "./assets/scss/footer.scss";

//main
@import "./assets/scss/main.scss";

//reference
@import "./assets/scss/refer.scss";

//movie
@import "./assets/scss/movie.scss";

//unsplash
@import "./assets/scss/unsplash.scss";

//youtube
@import "./assets/scss/youtube.scss";
